@import "../../sass/variables";

.main {
    position: relative;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: none;
    }

    .custom-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: .5em;
        height: 100vh;
        overflow: scroll;

        // border: 1px solid red; // for testing
    }
}
