@import "../../sass/variables";

.main {
    position: relative;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        overflow: none;
    }

    &-content {
        position: absolute;
        top: 4em;
        left: 4.8em;

        width: 89vw;
        height: 82vh;

        display: flex;
        justify-content: start;

        overflow-x: scroll;
        overflow-y: none;
    }
}
