@import "../../sass/variables";

.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, $grey-00, $grey-30);
    // background-color: $bg;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        overflow: none;
    }

    &-content {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;

        width: 98vw;
        height: 96vh;

        display: flex;
        justify-content: start;

        overflow-x: auto;
        overflow-y: none;

        // background: $grey-50;
        border-radius: $radius;
    }

    .add-section-btn {
        // border: 2px solid blue; // for testing
        background-color: transparent;
        width: 275px;

        display: flex;
        justify-content: space-between;

        border-radius: $radius;

        h4 {
            color: rgba($light, .4);
        }

        &:hover {
            background-color: rgba($light, .05);
            transition: $transition;
            cursor: pointer;
            h4 {
                color: $light;
                transition: $transition;
            }
        }
    }
}
