@import "../../sass/variables";

.sticky-note {
    width: 15em;
    
    &-images {
        position: relative;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
        }

        .pin {
            position: absolute;
            width: 3em;
            height: 3em;
            cursor: pointer;
            z-index: 9;
        }

        .sticky-note-content {
            position: absolute;
            top: 1.8em;
            font-size: $text-01;
            width: 95%;
            height: 10em;
            word-wrap: break-word;
            overflow: scroll;
            display: flex;
            justify-content: center;
            align-items: center;

            &-text {
                font-family: $font-text;
                // font-weight: bold;
            }
            &-marker {
                font-family: $font-marker;
            }
            &-pencil {
                font-family: $font-pencil;
                font-weight: bold;
            }
        }
    }
}
